.single-player {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
}
.single-player img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.single-player h2 {
  color: #fff;
  margin: 5px 0;
}
.single-player p {
  color: red;
}
.addBtn {
  width: 150px;
  height: 30px;
  background-color: limegreen;
  border: none;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  color: #fff;
  padding: 5px;
}
